RewriteEngine on


RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

<FilesMatch "\.(jpg|jpeg|JPG)$">
Header set Cache-Control "max-age=86400, public"
</FilesMatch>